<div class="pp_sizechart_background_content">  
  <img class="pp_sizechart_background" data-imgid="metal_card" src="{{'metal-cart-view.png' | file_img_url: 'master' }}" alt="metal-cart-img">

  <img class="pp_sizechart_background canvas_card_img hidden" data-imgid="canvas_card" src="{{'canvas-view.png' | file_img_url: 'master' }}" alt="canvas-view-img">

  <img class="pp_sizechart_background hidden" data-imgid="bundles_card" src="{{'bundles-view.png' | file_img_url: 'master' }}" alt="bundles-view-img">

  <img class="pp_sizechart_background hidden" data-imgid="blanket_card" src="{{'blanket-view.png' | file_img_url: 'master' }}" alt="blanket-view-img">  
</div>
<div class="pp_sizechart_image_content">
  <!-- metal_card -->
    <div class="metal_card pp_sizechart_txt" data-content="metal_card">
      <p>Perfect way to display your pet’s new card through a nostalgic card with a twist!</p>
      <span class="content_orange">Price: $45</span>
      <ul>
        <li>
          <span><img src="{{ "high-quality.png" | file_img_url:"master" }}"></span>
          <span class="content_text">High Quality Metal Cards</span>
        </li>
        <li>
          <span><img src="{{ "inks-cured.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Inks cured through state of the art UV Flatbeds</span>
        </li>
        <li>
          <span><img src="{{ "dimensions.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Dimensions: 2.48” X 3.56”</span>
        </li>
      </ul>
    </div>

  <!-- canvas_card -->
    <div class="canvas_card pp_sizechart_txt hidden" data-content="canvas_card">
      <p>This product option is for those that would like a larger display piece to showcase their new PokePet!</p>
      <span class="content_orange">Price: $65-$80</span>
      <ul>
        <li>
          <span><img src="{{ "high-quality.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Museum Grade Gallery Wrap</span>
        </li>
        <li>
          <span><img src="{{ "inks-cured.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Premium Latex Inks</span>
        </li>
        <li>
          <span><img src="{{ "hanging-hardware.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Hanging Hardware Included</span>
        </li>
      </ul>
    </div>

  <!-- blanket_card -->
    <div class="blanket_card pp_sizechart_txt hidden" data-content="blanket_card">
      <p>This product option is for those that would like a larger display piece to showcase their new PokePet!</p>
      <span class="content_orange">Price:  $100</span>
      <ul>
        <li>
          <span><img src="{{ "inks-cured.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Vibrant Sublimated Inks</span>
        </li>
        <li>
          <span><img src="{{ "velveteen-plush.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Velveteen Plush Material</span>
        </li>      
        <li>
          <span><img src="{{ "dimensions.png" | file_img_url:"master" }}"></span>
          <span class="content_text">Dimensions: 50” x 60”</span>
        </li>
      </ul>
    </div>

  <!-- bundles_card -->
    <div class="bundles_card pp_sizechart_txt hidden" data-content="bundles_card">    
     <p>Can’t choose the perfect product? Bundle them up!</p>
     <p>Choose any 2 products or grab all 3, either way we’ll give 20-30% OFF!</p>    
      <ul>
        <li>
          <p>Can grab any 2 products or all 3</p>
        </li>
        <li>
          <p>If you choose a canvas as an option, make sure to select your canvas size</p>
        </li>      
        <li>
          <p class="content_orange">Bundles Automatically Get 20-30% OFF!</p>
        </li>
      </ul>
    </div>
</div>
